<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <p>
            {{ site.description }} | <a href="{{ site.baseurl }}/">Home</a>
            {% for page in site.pages %}
            {% if page.title %}
             | <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
            {% endfor %}
             | <a class="mdl-navigation__link" href="{{ site.baseurl }}/feed">RSS feed</a>
        </p>
        <div class="copyright">
            {{ site.copyright }}
        </div>
    </div>
</footer>