<div class="mdl-layout__drawer menu-left-extra">
    <div class="mdl-layout-title menu-left-title-extra">
        <h4>Explore</h4>
    </div>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Home</a>
        {% for page in site.pages %}
        {% if page.title %}
        <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/feed">RSS feed</a>
    </nav>
</div>